@import "reset.scss";

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-light: #fdfaed;
  --color-dark: #3e1c0a;
  --color-primary: #db9825;
  --color-primary-hover: #c1761e;
  --color-secondary: #a1571c;
  --color-logo-shadow: #646cffaa;
  --color-logo-vanilla-shadow: #f7df1eaa;
  --color-button-light: #f3e5ab;
  --color-button-dark: #db9825;
}

